@media all and (min-width: 150px) and (max-width: 768px) {
	.navbar .navbar-nav {
		margin: 0 !important;
		padding: 0 !important;
	}
	.navbar .navbar-header .navbar-brand,
	.navbar .navbar-nav li a{
		line-height: 20px;
		font-family: 'Lato';
	}
	.navbar .container-fluid {
		width: 100% !important;
		margin: 0 auto;
		padding: 0 !important;
	}
	.navbar .navbar-nav li a:hover{
		background-color: #f4f4f4;
		transition: .3s;
	}
	.collapse {
		margin: 0 !important;
		padding: 0 !important;
	}
}